ul {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.7em;
}
ul li:before {
	content: "🦀";
	position: absolute;
	left: 0;
}

.purple {
	background-color: #d3d2f0;
}

.blue {
	background-color: #b3f0f8;
}